h1, h3, h4 {
	text-align: center; 
}

body {
	background-color: #F0F0F0; 
	font-family: calibri; 	
}

h3 {
	font-family: capitals; 
	font-size: small; 
}
h2, h4 {
	font-style: italic; 
}

p.pheader {
	margin-bottom: 0; 
	font-weight: bold;  
}

ul {
	left: 30%; 
}
